<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/Sephora.jpg" />

	<title>Sephora</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Telex&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 row">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulariologin">
				<form class="flogin" action="/users/login" method="POST">
					<% if (error!=undefined) { %>
        				<p class="completare"><%= error %></p>
    				<% } %>
					<h2 class="subtitulo">Email</h2>
					<input type="text" placeholder="Email" class="crvalida itemslogin" value="" name="email">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">Contraseña</h2>
					<input type="password" placeholder="Contraseña" class="crvalida itemslogin" value="" name="userpassword">
					<p class="completarc">Por favor complete el campo</p>
					<label class="check" for="">
                        Recordarme<input type="checkbox" name="check" value="" name="recordarme">
                    </label>
					<section class="botoneslogin">
						<button type="submit" class="itemslogin enviarlogin">Ingresá</button>
						<a href="/users/register" class=" itemslogin cuenta">No tengo cuenta</a>
					</section>
				</form>
			</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>