<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title>Sephora</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 row">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulariologin">
				<form class="flogin" action="/" method="get">
					<h2 class="subtitulo">Nombre de usuario</h2>
					<input type="text" placeholder="Nombre de usuario" class="crvalida itemslogin">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">Contraseña</h2>
					<input type="password" placeholder="Contraseña" class="crvalida itemslogin">
					<p class="completarc">Por favor complete el campo</p>
					<label class="check" for="">
                        Recordarme<input type="checkbox" name="check" value="">
                    </label>
					<section class="botoneslogin">
						<button type="submit" class="itemslogin enviarlogin">Ingresá</button>
						<a href="/users/register" class=" itemslogin cuenta">No tengo cuenta</a>
					</section>
				</form>
			</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>