<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/Sephora.jpg" />

	<title>Sephora</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Telex&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 row">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formularioregister">
				<form class="fregister flogin" action="/users/login" method="get">
					<h2 class="subtitulo">Email</h2>
					<input type="email" placeholder="Email" class="ervalido itemslogin" value="">
					<p class="completare">Por favor complete el campo</p>
					<h2 class="subtitulo">Nombre de usuario</h2>
					<input type="text" placeholder="Nombre de usuario" class="crvalida itemslogin" value="">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">Contraseña</h2>
					<input type="password" placeholder="Contraseña" class="crvalida itemslogin" value="">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">Fecha de nacimiento</h2>
					<input type="date" placeholder="Fecha de nacimiento" class="crvalida itemslogin" value="">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">DNI</h2>
					<input type="number" placeholder="DNI" class="crvalida itemslogin" value="">
					<p class="completarc">Por favor complete el campo</p>
					<h2 class="subtitulo">Foto de perfil</h2>
					<input type="text" placeholder="Foto de perfil" class="crvalida itemslogin" value="">
					<p class="completarc">Por favor complete el campo</p>
					<section class="botoneslogin">
						<button class="itemslogin enviarlogin" type="submit">Registrarse</button>
						<a class="itemslogin cuenta" href="/users/login">Ya tengo una cuenta</a>
					</section>	
				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>